<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5" xmlns="http://java.sun.com/xml/ns/javaee">

	<!-- Servlets -->
	<!-- login -->
	<servlet>
		<servlet-name>loginServlet</servlet-name>
		<servlet-class>com.pazeto.iot.server.LoginServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>loginServlet</servlet-name>
		<url-pattern>/pazeto_iot/login</url-pattern>
	</servlet-mapping>

	<!-- user -->
	<servlet>
		<servlet-name>userServlet</servlet-name>
		<servlet-class>com.pazeto.iot.server.UserServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>userServlet</servlet-name>
		<url-pattern>/pazeto_iot/user</url-pattern>
	</servlet-mapping>

	<!-- Device -->
	<servlet>
		<servlet-name>deviceServlet</servlet-name>
		<servlet-class>com.pazeto.iot.server.DeviceServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>deviceServlet</servlet-name>
		<url-pattern>/pazeto_iot/device</url-pattern>
	</servlet-mapping>
	
	<!-- IoPort -->
	<servlet>
		<servlet-name>ioPortServlet</servlet-name>
		<servlet-class>com.pazeto.iot.server.IoPortServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ioPortServlet</servlet-name>
		<url-pattern>/pazeto_iot/ioPort</url-pattern>
	</servlet-mapping>
	
		<!-- Schedules -->
	<servlet>
		<servlet-name>scheduleServlet</servlet-name>
		<servlet-class>com.pazeto.iot.server.ScheduleServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>scheduleServlet</servlet-name>
		<url-pattern>/pazeto_iot/schedule</url-pattern>
	</servlet-mapping>

	<listener>
		<listener-class>com.pazeto.iot.server.websocket.InitWebSocketListener</listener-class>
	</listener>

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>pazeto_iot.html</welcome-file>
	</welcome-file-list>

</web-app>
